body {
    background-color: blueviolet;
    text-align: center;
}

.orange {
    color:cyan;
}


#cub {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
